@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rouge+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ffffffb3;
  --background-alt: #21213c;
  --primary: #4B7BFF;
  --secondary: #8cb7cb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #070827;
    --foreground: #ffffffb3;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
