@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4b7bff;
  --color-primary-hover: #1e55df33;
  --color-primary-active: #00298e33;
  --color-secondary: #a663fe;
  --color-secondary-alt: #8a38f580;
  --color-secondary-hover: #5f1aba80;
  --color-secondary-active: #3e008e80;
  --color-secondary-light: #a663fe1a;
  --color-text-primary: #f1f1f1;
  --color-text-secondary: #999999;
  --color-background: #020317;
  --color-background-decorative: #ffffff90;
  --color-decorative: #3d3d3d;
  /* Font families */
  --primary-font-family: "Montserrat", sans-serif;
  --second-font-family: "Fira Code", monospace;
  --alternative-font-family: "Inter", sans-serif;
  --xm: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --2xl: 28px;
  --3xl: 32px;
  --4xl: 40px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #070827;
    --foreground: #ffffffb3;
  }
} */

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--primary-font-family), sans-serif;
}

/* TODO: crete the correct animation
/* FloatingTechBadges keyframes */
@keyframes float-mysql {
  0%,
  100% {
    left: 69px;
    top: 166px;
  }
  25% {
    left: 65px;
    top: 146px;
  }
  50% {
    left: 109px;
    top: 128px;
  }
  75% {
    left: 48px;
    top: 123px;
  }
}
@keyframes float-react-native {
  0%,
  100% {
    left: 279px;
    top: 180px;
  }
  25% {
    left: 292px;
    top: 216px;
  }
  50% {
    left: 315px;
    top: 163px;
  }
  75% {
    left: 361px;
    top: 143px;
  }
}
@keyframes float-mongodb {
  0%,
  100% {
    left: 189px;
    top: 65px;
  }
  25% {
    left: 210px;
    top: 46px;
  }
  50% {
    left: 210px;
    top: 76px;
  }
  75% {
    left: 210px;
    top: 33px;
  }
}
@keyframes float-devops {
  0%,
  100% {
    left: 180px;
    top: 153px;
  }
  25% {
    left: 210px;
    top: 150px;
  }
  50% {
    left: 210px;
    top: 150px;
  }
  75% {
    left: 182px;
    top: 155px;
  }
}
@keyframes float-vuejs {
  0%,
  100% {
    left: 89px;
    top: 89px;
  }
  25% {
    left: 105px;
    top: 70px;
  }
  50% {
    left: 93px;
    top: 49px;
  }
  75% {
    left: 39px;
    top: 33px;
  }
}
@keyframes float-nextjs {
  0%,
  100% {
    left: 319px;
    top: 74px;
  }
  25% {
    left: 304px;
    top: 111px;
  }
  50% {
    left: 292px;
    top: 72px;
  }
  75% {
    left: 319px;
    top: 47px;
  }
}
@keyframes float-expressjs {
  0%,
  100% {
    left: 161px;
    top: 253px;
  }
  25% {
    left: 154px;
    top: 206px;
  }
  50% {
    left: 210px;
    top: 228px;
  }
  75% {
    left: 210px;
    top: 257px;
  }
}
