@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,800;1,300&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070827;
  --foreground: #ffffffb3;
  --background-alt: #21213c;
  --primary: #4b7bff;
  --primary-alt: #1f3bf1;
  --secondary: #8cb7cb;
  /* Figma design tokens */
  --decorative: #151856;
  --decorative-2: #070827;
  --cards: #21213c;
  --default: #4b7bff;
  --text: #ffffff;
  --text-2: #b0b0b0;
  --magic-mint-200: #a3ffdc;
  --disabled: #3d3d3d;
  /* Font families */
  --primary-font-family: "Roboto", sans-serif;
  --second-font-family: "Fira Code", monospace;
  --decoration-font-family:
    "Rouge Script", cursive; /* Abalone Smile substitute */
  /* Type scale */
  --xm: 12px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --2xl: 28px;
  --3xl: 32px;
  --4xl: 40px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #070827;
    --foreground: #ffffffb3;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
